.seat-control {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
  background: #3cb4e7;
  user-select: none;

  &.selected {
    background: green;
  }

  &.disabled {
    cursor: not-allowed;
    background: grey;
  }
}
